.question-container {
    text-align: center;
    height: 100vh;
    background-image: linear-gradient(
        to right top,
        #61d9de,
        #00cbea,
        #00bbf7,
        #00a8ff,
        #1391ff,
        #5185ff,
        #7876fa,
        #9a63ef,
        #ad5df3,
        #c055f5,
        #d349f6,
        #e739f5
    );
    .question-wrapper {
        padding-top: 50px;
        h3 {
            color: #fff;
            letter-spacing: 2px;
        }
    }
    .question-title {
        max-width: 900px;
        margin: 0 auto;
        h3 {
            margin: 40px 0 10px;
        }
        p {
            padding: 20px;
            border: 3px solid #fff;
            border-radius: 25px;
            font-size: 18px;
            color: #fff;
        }
    }
    .question-btns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 500px;
        margin: 0 auto;
        margin-top: 20px;
        gap: 10px;
        .question-btn-file {
            position: relative;
            p {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 14px;
                color: #fff;
            }
        }
        button{
            background-color: transparent;
            color: #fff;
            border: 1px solid #fff;
        }
        input[type="file"] {
            outline: none;
            height: 100%;
            cursor: pointer;
            background-color: transparent;
            border: 1px solid #fff;
        }
        input::-webkit-file-upload-button {
            margin: 0 500px;
            background-color: #1677ff;
            cursor: pointer;
        }
    }
    .ant-upload-wrapper .ant-upload-list .ant-upload-list-item-container {
        display: none;
    }
}
