.question-container {
    text-align: center;
    margin-top: 50px;
    .question-title {
        max-width: 900px;
        margin: 0 auto;
        h3 {
            margin: 10px 0;
        }
        p {
            padding: 20px;
            border: 3px solid #000;
            border-radius: 25px;
            font-size: 18px;
        }
    }
    .question-btns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 500px;
        margin: 0 auto;
        margin-top: 20px;
        gap: 10px;
        .question-btn-file {
            position: relative;
            p {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 14px;
                color: #fff;
            }
        }
        input[type="file"] {
            outline: none;
            height: 100%;
            cursor: pointer;
            background-color: #1677ff;
            border: 1px solid #1677ff;
        }
        input::-webkit-file-upload-button {
            margin: 0 500px;
            background-color: #1677ff;
            cursor: pointer;
        }
    }
    .ant-statistic .ant-statistic-content {
        font-size: 50px;
        font-weight: 800;
        color: #1677ff;
    }
    .ant-upload-wrapper .ant-upload-list .ant-upload-list-item-container {
        display: none;
    }
}
