.home-container {
    text-align: center;
    height: 100vh;
    background-image: linear-gradient(
        to right top,
        #61d9de,
        #00cbea,
        #00bbf7,
        #00a8ff,
        #1391ff,
        #5185ff,
        #7876fa,
        #9a63ef,
        #ad5df3,
        #c055f5,
        #d349f6,
        #e739f5
    );
    h3 {
        color: #fff;
        padding-top: 50px;
        letter-spacing: 2px;
    }
    .home-title {
        h1 {
            color: #fff;
            margin-top: 50px;
            text-transform: uppercase;
        }
        .authlog{
            display: flex;
            gap: 100px;
            align-items: center;
            justify-content: center;
            margin-top: 100px;
            button{
                padding: 10px 20px;
                border-radius: 10px;
                border: none;
                font-size: large;
                background-color: aqua;
                // color: white;
            }
        }
    }
}
