nav {
    background-color: #ddd;
    padding: 10px 0;
    .nav {
        display: flex;
        justify-content: space-between;
        .nav-title {
            display: flex;
            gap: 20px;
            align-items: center;
            p {
                color: #000;
                cursor: pointer;
                &:focus {
                    border-bottom: 1px solid #000;
                }
            }
        }
        .nav-icon {
            display: flex;
            gap: 10px;
            align-items: center;
            p {
                color: #000;
                margin-right: 30px;
            }
        }
    }
}
